<p>
  <b>Nome:</b>
  <%= @orb_type.nome %>
</p>


<%= link_to 'Editar', edit_orb_type_path(@orb_type) %> |
<%= link_to 'Voltar', orb_types_path %> |
<%= link_to 'Novo tipo de corpo celeste', new_orb_type_path %>
