<h2>Lembretes:</h2>
<p>Bugs conhecidos:
  <ul>
    <li>Nenhum!</li>
  </ul>
</p>


<h2>Geradores:</h2>
<a href="http://www.springhole.net/writing_roleplaying_randomators/">Biblioteca de geradores de nomes (fonte do javascript)</a>

<form name="GENFORM">
      <p>
        <textarea name="STORY" rows="6" cols="50">Clique no botão para criar uma descrição aleatória</textarea>
      </p>
      <input type="button" name="BGENERATE" value="Descrição de metal" onclick="MetGenPlot();">
</form>

