<h2>Lembretes:</h2>
<p>Bugs conhecidos:
  <ul>
    <li>Nenhum!</li>
  </ul>
</p>

<p> Pendências:
  <ul>
    <li>Terminar a migração das páginas para o bootstrap:
      <ul>
        <li>Base_types</li>
        <li>Books</li>
        <li>Orbs</li>
        <li>Orbs_types</li>
        <li>Ship_sizes</li>
      </ul>
    </li>
  </ul>
</p>

<h2>Geradores:</h2>
<a href="http://www.springhole.net/writing_roleplaying_randomators/">Biblioteca de geradores de nomes (fonte do javascript)</a>

<form name="GENFORM">
      <p>
        <textarea name="STORY" rows="6" cols="50">Clique no botão para criar uma descrição aleatória</textarea>
      </p>
      <input class="btn btn-primary" type="button" name="BGENERATE" value="Descrição de metal" onclick="MetGenPlot();">
</form>

