/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  background-color: #f0f0f0;
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}
h1 {
  font-size: 28px;
  color: #000;
}
a  {color: #03c}
a:hover {
  background-color: #03c;
  color: white;
  text-decoration: none;
}
#page {
  
  background-color: #f0f0f0;
  width: auto;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
#content {
  margin-right: 10px;
  float: center;
  background-color: white;
  border: 1px solid #aaa;
  padding: 25px;
  width: auto;
  overflow: auto;
  border-radius: 20px;
}
#sidebar {
  margin-left: 10px;
  float: left;
  width: 175px;
}
#footer {
  margin-left: 10px;
  clear: both;
}
#header, #about, #getting-started {
  padding: 5px;                                                                                                                                             
  padding-left: 50px;    
}
#header {
  height: 64px;
}
#header h1, #header h2 {
  margin-top: 30px;
  margin: 0
}
#header h2 {
  color: #888;
  font-weight: normal;
  font-size: 16px;
}
#about h3 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
}
#about-content {
  background-color: #ffd;
  border: 1px solid #fc0;
  margin-left: -55px;
  margin-right: -10px;
}
#about-content table {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 11px;
  border-collapse: collapse;
}
#about-content td {
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
#about-content td.name  {color: #555}
#about-content td.value {color: #000}
#about-content ul {
  padding: 0;
  list-style-type: none;
}
#about-content.failure {
  background-color: #fcc;
  border: 1px solid #f00;
}
#about-content.failure p {
  margin: 0;
  padding: 10px;
}
#getting-started {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  padding-top: 15px;
}
#getting-started h1 {
  margin: 0;
  font-size: 20px;
}
#getting-started h2 {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin-bottom: 25px;
}
#getting-started ol {
  margin-left: 0;
  padding-left: 0;
}
#getting-started li {
  font-size: 18px;
  color: #888;
  margin-bottom: 25px;
}
#getting-started li h2 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #333;
}
#getting-started li p {
  color: #555;
  font-size: 13px;
}
#sidebar ul {
  margin-left: 0;
  padding-left: 0;
}
#sidebar ul h3 {
  margin-top: 25px;
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
#sidebar li {
  list-style-type: none;
}
#sidebar ul.links li {
  margin-bottom: 5px;
}
.filename {
  font-style: italic;
}

#formulario-horizontal .field {
  display: inline-block;
  padding: 5px;
}
#search-form .field {
  display: inline-block;
  padding: 5px;
}

.table {
  border-collapse: collapse;
  border: 2px solid #000;
  min-width: 50%;
  width: auto;
}
.table th {
  padding: 5px;
  border: 1px solid #000;
}
.table td {
  border: 1px solid #000;
}
.table tr:nth-of-type(odd){
  background-color: #E0E0E0;
}
.table tr:hover {
  background-color: #CCCCCC;
}
.table ol,ul {
  margin: 0px;
  margin-left: -25px;
}

