div.tricolunm {
  width: 700px;

  #left{
    float: left;
    width: 230px;
  }
  #middle{
    float: left;
    width: 230px;
  }
  #right{
    float: left;
    width: 230px;
  }
}

div.twocolunm {
  width: 700px;

  #left{
    float: left;
    width: 230px;
  }
  #right{
    float: left;
    width: 230px;
  }
}

.field_with_errors {
  color: white;
  background-color: red;
  width: 400px;
  border-radius: 10px;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 0px 0px 0px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    padding-top: 5px;
    font-size: 12px;
    list-style: square;
  }
}
